In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database

In [ ]:
import pandas as pd
import plotly.express as px

In [ ]:
df = pd.read_csv("adult.data.csv")

In [ ]:
df.sample(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
18977,37,Private,193855,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States,<=50K
10974,30,Private,392812,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,Germany,<=50K
23437,18,Private,25837,11th,7,Never-married,Prof-specialty,Own-child,White,Male,0,0,15,United-States,<=50K
20412,70,Self-emp-inc,243436,9th,5,Divorced,Sales,Not-in-family,White,Male,0,0,45,United-States,<=50K
4599,46,Self-emp-inc,219962,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,7298,0,40,?,>50K
16229,52,Private,185283,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K
17229,41,Self-emp-not-inc,277783,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,2001,50,United-States,<=50K
27016,47,Private,173938,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,57,United-States,>50K
2838,28,Private,270366,10th,6,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
20561,43,Private,154210,HS-grad,9,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,2829,0,60,China,<=50K

In [ ]:
df["education-num"].max()

16

In [ ]:
df.shape

(32561, 15)

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [ ]:
race_count = df.groupby("race").agg({"race": pd.Series.count})
race_count

                     race
race
Amer-Indian-Eskimo    311
Asian-Pac-Islander   1039
Black                3124
Other                 271
White               27816

What is the average age of men?

In [ ]:
print("Average age of men")
average_age = df[df.sex == "Male"].age.mean()
round(average_age, 10)

Average age of men

39.4335474989

What is the percentage of people who have a Bachelor's degree?

In [ ]:
total = df.education.count()
bachelors = df[df.education == "Bachelors"].education.count()
print(f"Total: {total}\nBachelors: {bachelors}")
percentage = bachelors/total
round(percentage, 10)

Total: 32561
Bachelors: 5355

0.164460551

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [ ]:
bachelors = df[df.education == "Bachelors"]
masters = df[df.education == "Masters"]
doctorate = df[df.education == "Doctorate"]
advanced_total = bachelors.education.count() + masters.education.count() + doctorate.education.count()
print("Total number of people with advanced education: {}".format(advanced_total))
bach_50 = bachelors[bachelors.salary == ">50K"].salary.count()
master_50 = masters[masters.salary == ">50K"].salary.count()
doctor_50 = doctorate[doctorate.salary == ">50K"].salary.count()
advanced_total_50 = bach_50 + master_50 + doctor_50
print("Total number of people with advanced education who earn more than 50K: {}".format(advanced_total_50))
percentage_salary = advanced_total_50/advanced_total
round(percentage_salary, 10)

Total number of people with advanced education: 7491
Total number of people with advanced education who earn more than 50K: 3486

0.4653584301

In [ ]:
advanced = df[df["education-num"] >= 13]
advanced_50 = advanced[advanced.salary == ">50K"].salary.count()
percent = advanced_50 / advanced.salary.count()
round(percent, 10)

0.4845667534

What percentage of people without advanced education make more than 50K?

In [ ]:
not_adv = df[df["education-num"] < 13]
not_adv_50 = not_adv[not_adv.salary == ">50K"].salary.count()
percent_not_adv = not_adv_50 / not_adv.salary.count()
round(percent_not_adv, 10)

0.1605291092

What is the minimum number of hours a person works per week?

In [ ]:
min_hours = df["hours-per-week"].min()
min_hours

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [ ]:
min_people = df[df["hours-per-week"] == min_hours]
min_people_50 = min_people[min_people.salary == ">50K"].salary.count()
percent_min_50 = min_people_50/min_people.salary.count()
percent_min_50

0.1

What country has the highest percentage of people that earn >50K and what is that percentage?

In [ ]:
highest_salary = df[df.salary == ">50K"]
total_high_salary = highest_salary.salary.count()
countries = highest_salary.groupby("native-country", as_index=False).agg({"salary": pd.Series.count})
top_country = countries[countries.salary == countries.salary.max()]
print("Top country is {}".format(str(top_country["native-country"].values)))
percentage_highest = countries.salary.max() / total_high_salary
percentage_highest

Top country is ['United-States']

0.9145517153424308

Identify the most popular occupation for those who earn >50K in India.

In [ ]:
india_highest = highest_salary[highest_salary["native-country"] == "India"]
top_occupation_india = india_highest.groupby("occupation").agg({"occupation": pd.Series.count})
top_occupation_india[top_occupation_india.occupation == top_occupation_india.occupation.max()]

                occupation
occupation
Prof-specialty          25

People who earn more than 50K among countries

In [ ]:
bar = px.bar(countries.sort_values("salary"), y="native-country", x="salary", color="salary",
             color_continuous_scale="viridis", orientation="h",
                title="People who earn more than 50K among countries")
bar.update_layout(xaxis_title="Number of People",
                     yaxis_title="Country",
                     coloraxis_showscale=False, xaxis={"type":"log"})
bar.show()

In [ ]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv("adult.data.csv")

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.groupby("race").agg({"race": pd.Series.count})

    # What is the average age of men?
    average_age = df[df.sex == "Male"].age.mean()
    average_age_men = round(average_age, 10)
        # What is the percentage of people who have a Bachelor's degree?
    total = df.education.count()
    bachelors = df[df.education == "Bachelors"].education.count()
    print(f"Total: {total}\nBachelors: {bachelors}")
    percentage = bachelors/total
    percentage_bachelors = round(percentage, 10)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

        # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df[df["education-num"] >= 13]
    lower_education = df[df["education-num"] < 13]


        # percentage with salary >50K
    advanced = df[df["education-num"] >= 13]
    advanced_50 = advanced[advanced.salary == ">50K"].salary.count()
    percent = advanced_50 / advanced.salary.count()
    higher_education_rich = round(percent, 10)

    not_adv = df[df["education-num"] < 13]
    not_adv_50 = not_adv[not_adv.salary == ">50K"].salary.count()
    percent_not_adv = not_adv_50 / not_adv.salary.count()

    lower_education_rich = round(percent_not_adv, 10)

        # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df["hours-per-week"].min()

        # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    min_people = df[df["hours-per-week"] == min_hours]
    num_min_workers = df[df["hours-per-week"] == min_work_hours].salary.count()
    min_people_50 = min_people[min_people.salary == ">50K"].salary.count()
    rich_percentage = min_people_50/min_people.salary.count()


        # What country has the highest percentage of people that earn >50K?
    highest_salary = df[df.salary == ">50K"]
    total_high_salary = highest_salary.salary.count()
    countries = highest_salary.groupby("native-country", as_index=False).agg({"salary": pd.Series.count})
    top_country = countries[countries.salary == countries.salary.max()]
    print("Top country is {}".format(str(top_country["native-country"].values)))

    highest_earning_country = top_country
    highest_earning_country_percentage = countries.salary.max() / total_high_salary

        # Identify the most popular occupation for those who earn >50K in India.
    india_highest = highest_salary[highest_salary["native-country"] == "India"]
    top_occupation_india = india_highest.groupby("occupation").agg({"occupation": pd.Series.count})

    top_IN_occupation = top_occupation_india[top_occupation_india.occupation == top_occupation_india.occupation.max()].index.name

        # DO NOT MODIFY BELOW THIS LINE

    if print_data:
      print("Number of each race:\n", race_count)
      print("Average age of men:", average_age_men)
      print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
      print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
      print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
      print(f"Min work time: {min_work_hours} hours/week")
      print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
      print("Country with highest percentage of rich:", highest_earning_country)
      print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
      print("Top occupations in India:", top_IN_occupation)

      return {
      'race_count': race_count,
      'average_age_men': average_age_men,
      'percentage_bachelors': percentage_bachelors,
      'higher_education_rich': higher_education_rich,
      'lower_education_rich': lower_education_rich,
      'min_work_hours': min_work_hours,
      'rich_percentage': rich_percentage,
      'highest_earning_country': highest_earning_country,
      'highest_earning_country_percentage':
      highest_earning_country_percentage,
      'top_IN_occupation': top_IN_occupation
    }